@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap");

.testApiModal__Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
    107.22deg,
    rgba(39, 68, 114, 0.5) 0.46%,
    rgba(39, 68, 114, 0.7) 100%
  );
  backdrop-filter: blur(12px);
  animation: testApiModal-fade-in 1s ease-out !important;
  -webkit-animation: testApiModal-fade-in 1s ease-out !important;
}

.loader__Icon {
  width: 128px;
  border-radius: 5px;
  opacity: 0.7;
  margin-bottom: 24px;
  animation: icon-fade 2s infinite !important;
  -webkit-animation: icon-fade 2s infinite !important;
}

@keyframes icon-fade {
  0% {
    opacity: 20%;
  }

  50% {
    opacity: 80%;
    transform: scale(1.05);
  }

  100% {
    opacity: 20%;
  }
}

.loader__Text {
  color: #c6dbff;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  animation: text-fade 2s infinite !important;
  -webkit-animation: text-fade 2s infinite !important;
}

@keyframes text-fade {
  0% {
    opacity: 100%;
    transform: translateY(-3px);
  }

  50% {
    opacity: 0%;
    transform: translateY(6px);
  }

  100% {
    opacity: 100%;
    transform: translateY(-3px);
  }
}

.testApiModal {
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(
    107.22deg,
    rgba(39, 68, 114, 0.5) 0.46%,
    rgba(39, 68, 114, 0.7) 100%
  );
  backdrop-filter: blur(12px);
  z-index: 2;
  animation: testApiModal-fade-in 1.5s ease-out !important;
  -webkit-animation: testApiModal-fade-in 1.5s ease-out !important;
}

@keyframes testApiModal-fade-in {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid rgba(40, 106, 222, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logoImage {
  height: 28px;
  cursor: pointer;
}

.testApiPage {
  background-image: url("../../../public/Images/TestApiBgImg.png");
  background-color: #c6dbff;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.formSection__Card {
  height: 572px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 48px;
}

.formSection__userDetails {
  z-index: 1;
  background-color: #274472;
  box-shadow: -2px 0px 9px 3px rgba(0, 0, 0, 0.25),
    inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px 0 0 3px;
}

.userDetails__Header {
  font-family: "Noto Serif JP", serif;
  color: #c6dbff;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.userDetails__Form {
  height: 418px;
  padding-right: 4px;
  overflow-y: scroll;
}

.userDetails__Form::-webkit-scrollbar {
  width: 4px;
  background-color: #274472;
  border-radius: 20px;
}

.userDetails__Form::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #c6dbff;
  border-radius: 20px;
}

.userDetails__Form::-webkit-scrollbar-thumb:hover {
  background-color: #b6d0fc;
}

.userDetails__Form::-webkit-scrollbar-thumb:active {
  background-color: #a3c0f1;
}

.userDetails__Label {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #c6dbff;
}

.userDetails__Mandatory {
  font-size: 20px;
  color: #ff0000;
}

.userDetails__InputArea {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #486aa3;
  padding: 12px 0 12px 0;
  color: #486aa3;
  font-size: 16px;
  font-weight: 500;
  text-rendering: geometricPrecision;
  width: 466px;
  margin-bottom: 24px;
  z-index: 2;
}

.inputArea_Active {
  border-bottom: 2px solid #c6dbff;
  color: #c6dbff;
  letter-spacing: 1px;
}

input[type="text"]::placeholder {
  color: #486aa3;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../../../public/Images/CalendarIcon.jpg");
  transform: scale(2);
  border-radius: 50px;
  mix-blend-mode: luminosity;
  filter: contrast(1.25);
  -webkit-filter: contrast(1.25);
  width: 24px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  transform: scale(2.4);
}

input[type="date"]::-webkit-calendar-picker-indicator:active {
  transform: scale(1.95);
}

.userDetails__InputArea::placeholder {
  color: #c6dbff;
  font-weight: 500;
}

.userDetails__AddressInputArea {
  border: none;
  outline: none;
  width: 458px;
  height: 92px;
  margin-top: 12px;
  background-color: #486aa3;
  border-radius: 2px;
  text-rendering: geometricPrecision;
  font-size: 16px;
  resize: none;
  font-family: "Roboto", sans-serif;
  padding: 4px;
}

.userDetails__AddressInputArea::placeholder {
  color: #adc8f2;
}

.addressInputArea_Active {
  background-color: #c6dbff;
  color: #274472;
  font-weight: 500;
  letter-spacing: 1px;
}

.fileUploadIndicator {
  width: 16px;
  margin-top: 48px;
  margin-left: auto;
}

.formSection__fileUpload {
  background-color: #eceef1;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 0px 3px 3px 0px;
  justify-content: space-between;
}

.fileUpload__Header {
  font-family: "Noto Serif JP", serif;
  color: #274472;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.fileUpload__Icon {
  height: 120px;
  width: 120px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  border-radius: 100px;
  margin-bottom: 40px;
}

.fileUpload__FileInputArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.fileInput {
  width: 472px;
  height: 42px;
  margin-bottom: 26px;
  border: 1px solid #adc8f2;
  border-radius: 5px;
  display: flex;
}

.fileInput__BrowseButton {
  width: 128px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adc8f2;
  color: #274472;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 80ms ease-in;
}

.fileInput__BrowseButton:hover {
  opacity: 0.9;
  transform: scale(1.08);
  border-radius: 5px;
}

.fileInput__BrowseButton:active {
  transform: scale(1);
  border-radius: 0;
  box-shadow: rgba(50, 50, 93, 0.05) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

.uploadDefButton {
  display: none;
}

.fileInput__FileDetails {
  width: auto;
  padding: 0 24px;
  font-size: 17px;
  font-weight: 500;
  color: #274472;
  display: flex;
  align-items: center;
}

.uploadSection {
  height: 188px;
  width: 472px;
  margin: 36px 0px;
  overflow-y: scroll;
}

.uploadSection::-webkit-scrollbar {
  width: 0px;
}

.submitButton {
  width: 144px;
  height: 36px;
  background-color: #adc8f2;
  color: #274472;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  cursor: pointer;
  transition: 50ms ease-in;
}

.submitButton:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.submitButton:active {
  transform: scale(0.98);
  opacity: 0.95;
}

.footerLogo {
  width: 144px;
  margin-top: 48px;
}
