.maindivStyle {
  text-align: center;
}

.parentCard {
  display: grid;
  place-items: center;
}

.heading {
  font-family: "Arial";
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #286ADE;
  padding: 20px 0 16px;
}

.seperator {
  border-bottom: 1px solid rgba(40, 106, 222, 0.15);
}

.subCardDiv {
  padding-top: 36px;
}

.box {
  width: 330px;
  height: 56px;
}

.disclaimer {
  font-size: 12px;
  font-style: italic;
  color: #757575;
  margin-top: 16px;
}

.highlight {
  color: #286ADE;
}

.signUpFooter {
  background-color: #ECEEF1;
  height: 40px;
}

.divheader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  font-size: calc(10px + 2vmin);
  background-color: #ECEEF1;
}

.signUpFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  color: #8D9096;
  font-size: 10px;
}